<div class='labal_title'>address info</div>
<table>
  <tr>
    <td>title:</td><td><%=h @address[:title] %></td>
  </tr><tr>
    <td>tel:</td><td><%=h @address[:tel] %></td>
  </tr><tr>
    <td>open_hours:</td><td><%=h @address[:open_hours] %></td>
  </tr><tr>
    <td>memo:</td><td><%= h @address[:memo] %></td>
  </tr>
</table>