<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/site.css" type="text/css">
    
  </head>
<body>

<h3>this is the default layout</h3>
<%= link_to 'home', :controller => 'top', :action => 'index' %>&nbsp;
<%= link_to 'add', :controller => 'top', :action => 'add' %>
<hr />
<%= yield %>
<hr />
thanks for using this application!

</body></html>
